@model ZGym.Core.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of all classes</h1>

<div id="create-ajax"></div>

@if (User.IsInRole("Admin"))
{
    <div class="py-3">
        <a asp-action="Create" class="btn btn-primary">Create Normal</a>

        <button id="fetch" class="btn btn-secondary">Create with Fetch</button>

        <a asp-action="Create" class="btn btn-warning" 
            data-ajax="true"
            data-ajax-method="GET"
            data-ajax-update="#create-ajax"
            data-ajax-mode="replace">
                Create with Ajax
        </a>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GymClasses.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GymClasses.First().StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GymClasses.First().Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GymClasses.First().EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GymClasses.First().Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="gymclasslist">
        <partial name="GymClassesPartial" model="@Model.GymClasses"/>
    </tbody>
</table>
